:root {
  /* Main */
  --light-primary-bg: #faedcd;
  --light-secondary-color: #d4a373;
  --light-tile-bg: #fefae0;
  --light-left-bg: #e9edc9;
  --light-right-bg: #e9edc9;
  --light-hover-color: #606c38;
  --light-modal-border: #ccc;
  --light-main-text: #222;
  --light-btn: var(--light-primary-bg);
  --light-btn-circle: var(--light-hover-color);

  /* Dark Mode */
  --dark-primary-bg: #051232;
  --dark-secondary-color: #2b5c8c;
  --dark-tile-bg: #01051f;
  --dark-left-bg: #161236;
  --dark-right-bg: #161236;
  --dark-hover-color: #83bca9;
  --dark-modal-border: #9f93c7;
  --dark-main-text: #ddd;
  --dark-btn: var(--dark-primary-bg);
  --dark-btn-circle: var(--dark-hover-color);
}

.dark-mode {
  --light-primary-bg: var(--dark-primary-bg);
  --light-secondary-color: var(--dark-secondary-color);
  --light-tile-bg: var(--dark-tile-bg);
  --light-left-bg: var(--dark-left-bg);
  --light-right-bg: var(--dark-right-bg);
  --light-hover-color: var(--dark-hover-color);
  --light-modal-border: var(--dark-modal-border);
  --light-main-text: var(--dark-main-text);
}

/* HEADER */
.site-header {
  display: grid;
  grid-template-columns: 3fr 1fr 4fr;
  align-items: center;
  background: var(--light-secondary-color);
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--light-tile-bg);
}

.site-header h1,
.site-header h2 {
  margin: 0;
}

.site-header h1 {
  text-align: left;
  margin-left: 8px;
}

.site-header h2 {
  text-align: center;
}

/* BASE LAYOUT */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  font-family: "Courier New", monospace;
  background: var(--light-primary-bg);
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  flex: 1;
  margin: 0 1.5rem;
  height: calc(100vh - 80px - 3rem); /* subtract header + top/bottom margins */
  overflow: hidden;
  gap: 10px;
  margin-bottom: 6vh;
}

/* COLUMNS */
.left-col,
.middle-col,
.right-col {
  height: 100%;
  min-height: 0; /* allow child scroll */
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* LEFT COLUMN */
.left-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--light-left-bg);
  border-right: 2px solid var(--light-modal-border);
}

/* MIDDLE COLUMN */
.middle-col {
  background: var(--light-primary-color);
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 55vw;
  padding-bottom: 50px;
}

/* RIGHT COLUMN */
.right-col {
  background: var(--light-right-bg);
  border-left: 2px solid var(--light-modal-border);
  padding-bottom: 2rem;
}

/* TILES */
.project-tile,
.about-tile,
.shortcuts-tile {
  background: var(--light-tile-bg);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-tile {
  max-width: 70%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-tile:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-tile img {
  width: 40%;
  max-width: 400px;
  border-radius: 6px;
  object-fit: cover;
  height: auto;
}
.project-tile h3 {
  margin: 10px;
}
.project-tile p {
  margin: 2px;
}

/* LINKS */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--light-main-text);
  transition: color 0.2s, transform 0.2s;
}
a:hover {
  color: var(--light-hover-color);
}

/* ABOUT ITEMS */ /* SHORTCUT TILES LI*/
.about-item,
.shortcuts-tile li {
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  color: var(--light-main-text);
}
.about-item:hover,
.shortcuts-tile li:hover {
  background: var(--light-left-bg);
  color: var(--light-hover-color);
  box-shadow: 0 0 0 6px var(--light-left-bg);
}
.about-tile h2,
.shortcuts-tile h2 {
  padding: 0;
  margin: 0 0 1rem 0;
  color: var(--light-main-text);
}
.about-tile h2 span {
  font-size: 12px;
  font-weight: normal;
  display: block;
}

/* MODALS */
.modal,
.about-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--light-tile-bg);
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  position: relative;
  text-align: center;
  color: var(--light-main-text);
}

.modal-pic {
  width: 90%;
}

.modal-content input,
.modal-content textarea {
  min-width: 90%;
  max-width: 90%;
  min-height: 12px;
  max-height: 70vh;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--light-modal-border);
  font-family: inherit;
}

.modal-content button {
  padding: 0.5rem 1rem;
  background: var(--light-hover-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-content button:hover {
  background: var(--light-hover-color);
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* POPUPS */
.popup-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--light-tile-bg);
  color: var(--light-main-text);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  text-align: center;
  min-width: 250px;
}
.popup-close {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--light-main-text);
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 1140px) {
  .layout {
    grid-template-columns: 1fr 3fr 2fr;
  }
}

@media (max-width: 800px) {
  body {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }

  .layout {
    margin: 1.5rem 0;
    height: calc(100vh - 80px - 3rem);
    grid-template-columns: 1fr;
  }
  .left-col,
  .middle-col,
  .right-col {
    padding: 0.5rem;
  }
  .middle-col {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  .project-tile {
    width: 90%;
    margin: 0 auto 1rem;
  }
  .project-tile img {
    width: 100%;
    height: auto;
  }
  .project-tile h3 {
    margin: 5px;
    font-size: 16px;
  }
  .project-tile p {
    font-size: 14px;
  }
  .left-col .nav-links,
  .right-col .about-tile,
  .right-col .shortcuts-tile {
    display: none;
  }
  .left-col .nav-links {
    margin-left: 25px;
  }
  .right-col {
    position: relative;
  }
  .right-col .about-tile,
  .right-col .shortcuts-tile {
    width: 90%;
    margin: auto;
  }
  .hamburger {
    display: block;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .left-col.expanded .nav-links,
  .right-col.expanded .about-tile,
  .right-col.expanded .shortcuts-tile {
    display: block;
  }
  .site-header {
    grid-template-columns: 1fr 100px;
    padding: 0.5rem;
  }
  .site-header h1 {
    text-align: center;
    margin-left: 80px;
    font-size: 24px;
  }
  .site-header h2 {
    display: none;
  }
}
